body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
   
    background-repeat: no-repeat;
    
    z-index: 20;
    background-attachment: scroll;
    
    
}


header {
    background-color: rgba(198, 53, 43, 0.52);
    background-image: none;
    color: white;
    padding: 1em;
    height: 1rem;
    position: fixed;
    width: 100%;
    top: 2%;
    left: 0;
    z-index: 1;
    
.text-content{
    position: relative;
    top: 50%;
    text-align: center;

}
#home{
    position: relative;
    text-align: center;
    padding-top: 200px;

}
#home p{
    font-size: 63px;
    font-weight: bold;
    letter-spacing: -1px;
    background-color: yellow;
   
    opacity: 1;
    
    
    top: 50%;
    left: 50%;
}
    
    
}
.logo {
    align-items: center;
    top: 0;
    padding: 0.5;
    height: 1rem;
}
.logo img {
    max-width: 80px;
    position: fixed;
    left: 45%;
    top: 1%;
    z-index: 1;
    opacity: 1;
    

    

}
.header-buttons{
    align-items: center;
    position: fixed;
    top: 3%;
    left: 0%;
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.68);
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    transform: translate(0, 8px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -10px) rotate(45deg);
  }
.header-buttons button:first-child{
    position: fixed;
    left: 1.5%;
    top: 2.5%;
    padding: 5px 8px;
    background-color: rgba(0, 0, 0, 0.68);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.header-buttons button:last-child {
    
    position: fixed;
    left: 88%;
    top: 2.5%;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.68);
    color: white;
}
.header-buttons button:last-child:hover {
    background-color: rgba(252, 245, 111, 1);
}

.dropdown-list {
    display: none;
    position: fixed;
    top: 6%;
    left: 2%;
    background-color: rgba(88, 84, 82, 0.6);
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
    z-index: 1;
    
    
}
.dropdown-list a {
    color: white;
    padding: 10px 13px;
    display: block;
    text-decoration: none;
    text-align: left;
    
    
}
.dropdown-list a:hover {
    background-color: rgba(82, 77, 75, 0.63);
}
.show {
    display: block;
}

main{
    padding: 240px;
    padding-left: 200px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5em;
    position: fixed;
    width: 100%;
    bottom: 0%;
    
}
